body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

.container {
    margin: 30px;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: block;
}

.submitbtn {

    width: 100%;
    text-align: right;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 5px;
    
}