* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* This is a comment helping other user to understand this is Background image container */
.bg_image.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Overlapping container */
.overlap.container {
    position: absolute;
    top: 8%;
    left: 0%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 1px;
    width: 400px;
}